<div class="recently_access">
  <p>Recently Access</p>
  <div class="recently_slider">
    <div class="card_border">
      <div class="card">
        <a class="card_img" href="#">
          <img src="img/cardimg.avif" alt="anh doi che" />
          <div class="card_category">
            <i class="fa-regular fa-circle-play"></i>
          </div>
        </a>
        <div class="card_name">
          <a href="#">
            <p>card name that verry longggggggg</p>
          </a>
          <p>card description</p>
        </div>
      </div>
    </div>

  </div>

</div>