<div class='scroll recently_access'>
  <p>Recently Access</p>
  <div class='menu_slider recently_slider'>
    <div class='card_border'>
      <div class='card'>
        <a class='card_img' href='#'>
          <img src='img/cardimg.avif' alt='anh doi che' />
          <div class='card_category'>
            <i class='fa-regular fa-circle-play'></i>
          </div>
        </a>
        <div class='card_name'>
          <a href='#'>
            <p>card name that verryabc ấydfj;dlkfj;lksadf longggggggg</p>
          </a>
          <p>card description</p>
        </div>
      </div>
    </div>
    <div class='card_border'>
      <div class='card'>
        <a class='card_img' href='#'>
          <img src='img/cardimg.avif' alt='anh doi che' />
          <div class='card_category'>
            <i class='fa-regular fa-circle-play'></i>
          </div>
        </a>
        <div class='card_name'>
          <a href='#'>
            <p>card name that verryabc ấydfj;dlkfj;lksadf longggggggg</p>
          </a>
          <p>card description</p>
        </div>
      </div>
    </div>
    <div class='card_border'>
      <div class='card'>
        <a class='card_img' href='#'>
          <img src='img/cardimg.avif' alt='anh doi che' />
          <div class='card_category'>
            <i class='fa-regular fa-circle-play'></i>
          </div>
        </a>
        <div class='card_name'>
          <a href='#'>
            <p>card name that verryabc ấydfj;dlkfj;lksadf longggggggg</p>
          </a>
          <p>card description</p>
        </div>
      </div>
    </div>
    <div class='card_border'>
      <div class='card'>
        <a class='card_img' href='#'>
          <img src='img/cardimg.avif' alt='anh doi che' />
          <div class='card_category'>
            <i class='fa-regular fa-circle-play'></i>
          </div>
        </a>
        <div class='card_name'>
          <a href='#'>
            <p>card name that verryabc ấydfj;dlkfj;lksadf longggggggg</p>
          </a>
          <p>card description</p>
        </div>
      </div>
    </div>
  </div>

</div>
<div class='scroll category1'>
  <p>Videos
    <i class='fa-solid fa-angles-right'></i>
  </p>
  <div class='menu_slider videos'>
    <div class='card_border'>
      <div class='card'>
        <a class='card_img' href='#'>
          <img src='img/cardimg.avif' alt='anh doi che' />
          <div class='card_category'>
            <i class='fa-regular fa-circle-play'></i>
          </div>
        </a>
        <div class='card_name'>
          <a href='#'>
            <p>card name that verryabc ấydfj;dlkfj;lksadf longggggggg</p>
          </a>
          <p>card description</p>
        </div>
      </div>
    </div>
    <div class='card_border'>
      <div class='card'>
        <a class='card_img' href='#'>
          <img src='img/cardimg.avif' alt='anh doi che' />
          <div class='card_category'>
            <i class='fa-regular fa-circle-play'></i>
          </div>
        </a>
        <div class='card_name'>
          <a href='#'>
            <p>card name that verryabc ấydfj;dlkfj;lksadf longggggggg</p>
          </a>
          <p>card description</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class='scroll category1'>
  <p>Mangas
    <i class='fa-solid fa-angles-right'></i>
  </p>
  <div class='menu_slider mangas'>
    <div class='card_border'>
      <div class='card'>
        <a class='card_img' href='#'>
          <img src='img/cardimg.avif' alt='anh doi che' />
          <div class='card_category'>
            <i class='fa-regular fa-circle-play'></i>
          </div>
        </a>
        <div class='card_name'>
          <a href='#'>
            <p>card name that verryabc ấydfj;dlkfj;lksadf longggggggg</p>
          </a>
          <p>card description</p>
        </div>
      </div>
    </div>
    <div class='card_border'>
      <div class='card'>
        <a class='card_img' href='#'>
          <img src='img/cardimg.avif' alt='anh doi che' />
          <div class='card_category'>
            <i class='fa-regular fa-circle-play'></i>
          </div>
        </a>
        <div class='card_name'>
          <a href='#'>
            <p>card name that verryabc ấydfj;dlkfj;lksadf longggggggg</p>
          </a>
          <p>card description</p>
        </div>
      </div>
    </div>
  </div>
</div>