@import 'variables';
@import 'footer';
@import 'header';

body {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
}
@keyframes wobble {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-6deg);
  }
  50% {
    transform: rotate(6deg);
  }
  75% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes slideRight {
  0% {
    transform: translateX(-$size-header-icon);
  }

  100% {
    transform: translateX(0);
  }
}
@keyframes slideLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-$size-header-icon);
  }
}
body {
  font-size: 62.5% !important;
}

/* Extra Small Devices (XS) - Mobile */
@media (max-width: 575.98px) {
  /* CSS cho màn hình có chiều rộng dưới 576px */

  // Home Body
  .scroll {
    margin-top: 18px;
    font-size: 1.5rem;
    width: 100%;
    > p {
      margin: 4px 0 8px 0;
      font-weight: 500;
    }
  }
  .menu_slider {
    display: flex;
    overflow-x: scroll;
    &::-webkit-scrollbar {
      // height: 4px;

      // &:hover {
      //   height: 8px;
      // }
    }
    &::-webkit-scrollbar-corner {
    }
    &::-webkit-scrollbar-track {
      background-color: green;
      color: red;
    }
    &::-webkit-scrollbar-thumb {
      background-color: green;
      color: red;
    }
  }
  .card_border {
    padding: 1px;
    border-radius: 0.5rem;
    background-color: transparent;
    margin: 0 8px 8px 0;
  }
  .card {
    background-color: transparent;
    width: 240px;
    border-radius: 0.5rem;
    font-size: 1rem;
    box-sizing: border-box;
    // box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px
    //     inset,
    //   rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    //   rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    transition: all 0.3s ease;
    flex: 0 0 auto;
    overflow: hidden;
  }
  .card_img {
    height: 160px;
    border-radius: 0.5rem;
    overflow: hidden;
    display: block;
    position: relative;
  }
  .card_img img {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .card_name {
    padding: 4px;
    display: flex;
    display: block;
    position: relative;
    > a > p {
      margin: 8px 0;
    }
    > p {
      margin: 8px 0;
    }
  }
  .card_category i {
    position: absolute;
    bottom: 0;
    color: #fff;
    background-color: #28282899;
    font-size: 1.3rem;
    padding: 6px;
    border-top-right-radius: 50%;
  }
  .card_name a {
    text-decoration: none;
    font-size: 1rem;
    margin: 6px 0px 0px 0px;
    color: $text-color;
    font-weight: 500;
    overflow: hidden;
    display: block;
    width: 100%;
  }
  .card_name a p {
    display: -webkit-box;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
  }
}

/* Small Devices (SM) - Tablet */
@media (min-width: 576px) and (max-width: 767.98px) {
  /* CSS cho màn hình có chiều rộng từ 576px đến 767px */
  // Header
  .header_main_layout {
    color: $text-color;
    display: flex;
  }
  .header_logo {
    background-image: url('/img/logoB.jpg');
    height: $size-header-icon;
    width: $size-header-icon;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 0.25rem;
    z-index: 100;
    &:hover {
      animation: wobble 0.3s ease-in-out;
    }
  }
  .header_content {
    display: flex;
    flex: 1;
    justify-content: space-between;
    position: relative;
    height: $header-height;
  }
  .toggle_content {
    position: relative;
    overflow: hidden;
    width: 42px;
    height: 40px;
    border: 1px solid $text-color;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #fff;
    color: $text-color;
  }
  .toggle_content .toggle_menu {
    position: absolute;
    font-weight: 900;
    font-size: 1.8rem;
    background-color: transparent;
    height: 38px;
    width: 40px;
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: slideInOut 0.3s ease-in-out forwards;
  }

  .label_checkbox {
    position: fixed;
    width: 42px;
    height: 40px;
    z-index: 1;
    background-color: transparent;
    right: 0;
    margin-right: 8px;
  }
  #toggle_menu_checkbox {
    display: none;
  }
  .toggle_content .hide_menu {
    left: $size-header-icon;
  }
  #toggle_menu_checkbox:checked ~ .toggle_content .toggle_menu {
    animation-name: slideLeft;
  }
  #toggle_menu_checkbox ~ .toggle_content .toggle_menu {
    animation-name: slideRight;
  }
  #toggle_menu_checkbox:checked ~ .page_titles_container {
    width: 100vw;
  }

  .page_titles_container {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 0px;
    overflow: hidden;
    transition: width 0.3s ease-in-out;
  }
  .page_titles {
    list-style-type: none;
    padding: calc(#{$header-height} + 16px) 8px;
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100vw;
    box-sizing: border-box;
    background-color: #f0f2f5;
    color: $text-color;
    z-index: 100;
  }
  .hiding .page_titles {
    // display: none;
  }
  .page_titles > li {
    font-size: 1rem;
    user-select: none;
  }
  .page_titles > li > a {
    user-select: none;
    font-size: inherit;
    border: 1px solid rgb(225, 225, 225);
    border-radius: 6px;
    text-decoration: none;
    padding: 8px 8px;
    color: $text-color;
    font-weight: 400;
    display: flex;
    background-color: white;
    // justify-content: space-between;
    align-items: center;
    height: $tag-menu-height;
    box-sizing: border-box;
  }
  .page_titles .gradient_border {
    margin-bottom: 4px;
  }
  .nav_link {
  }
  .page_menu {
    position: relative;
  }
  .label_sub_category {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    background-color: transparent;
    top: 0;
    left: 0;
    right: 0;
    height: $tag-menu-height;
  }
  .dropdown_menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    // background-color: rgb(150, 90, 90);
    height: 0px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    li a {
      font-size: inherit;
      border: 1px solid rgb(225, 225, 225);
      border-radius: 6px;
      padding: 8px 8px;
      color: $text-color;
      background-color: #fff;
      text-decoration: none;
      margin: 4px 0 0 22px;
      height: $tag-menu-height;
      box-sizing: border-box;
      display: flex;
      align-items: center;
    }
    li a i {
      font-size: 1.2rem;
      margin-right: 12px;
      width: 32px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .get_in > a > i {
    font-size: 1.2rem;
    margin-right: 12px;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .page_menu > .nav_link > i {
    font-size: 1.2rem;
    margin-right: 12px;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s linear;
  }
  #toggle_sub_category {
    display: none;
    width: 24px;
    ~ a > i {
      transform: rotateZ(90deg);
    }
    ~ .dropdown_menu {
      height: calc(#{$tag-menu-height * 3} + 12px);
    }
    &:checked ~ a > i {
      transform: rotateZ(0deg);
    }
    &:checked ~ .dropdown_menu {
      height: 0px;
    }
  }
  .header_search {
  }

  .box {
    position: relative;
    display: flex;
    flex: 1;
    margin: 0 12px;
  }
  .box > form {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .input {
    padding: 10px;
    width: 50%;
    height: $size-header-icon;
    background: none;
    border: 1px solid $text-color;
    border-radius: 50px;
    box-sizing: border-box;
    font-family: inherit;
    font-size: 1rem;
    color: $text-color;
    outline: none;
    transition: 0.3s;
  }
  .box:hover input {
    // width: 350px;
    width: 100%;
    background: #ffffff;
    border-radius: 5px;
  }
  .box i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    color: $text-color;
    transition: 0.2s;
  }
  .box:hover i {
    opacity: 0;
    z-index: -1;
  }
  .Login {
  }
}

/* Medium Devices (MD) - Small Desktops */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* CSS cho màn hình có chiều rộng từ 768px đến 991px */
}

/* Large Devices (LG) - Desktops */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* CSS cho màn hình có chiều rộng từ 992px đến 1199px */
}

/* Extra Large Devices (XL) - Large Desktops */
@media (min-width: 1200px) {
  /* CSS cho màn hình có chiều rộng từ 1200px trở lên */

  // Header
  .header_main_layout {
    color: $text-color;
    display: flex;
  }
  .header_logo {
    background-image: url('/img/logoB.jpg');
    height: 50px;
    width: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 0.5rem;
    z-index: 100;
  }
  .header_content {
    display: flex;
    justify-content: space-between;
  }
  .toggle_content .toggle_menu {
    font-weight: 900;
    font-size: 1.1rem;
    /* padding: 14px; */
    margin: 0 2px;
    background-color: black;
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
  }
  .page_titles {
    list-style-type: none;
  }
  .page_name {
  }
  .page_menu {
  }
  .nav_link {
  }
  .dropdown_menu {
  }
  .dropdown_item {
  }
  .dropdown_divider {
  }
  .header_search {
  }

  .get_in {
  }
  .Sign_up {
  }
  .Login {
  }
}
